*{
    text-align: center;
}
form{
    margin: 50px;
    text-align: center; 
}
img{ 
    border-radius: 24px;
    max-width: 500px;
    min-height: 556px;
}
#logoimg{
    max-width: 103.17px;
    min-height: 108.12px;
}

.btn-color{
    background-color: #EE9B01;
    color: white;
    width: 400px;
    height: Fixed (10,140px)px;
 /*    padding: 32px 0px 0px 0px; */
/*     gap: 32px; */
    opacity: px;
    border-radius: 12px;
    text-align: center;
font-size: larger;
  }
 

  .input-group {
    width: 100%; /* Ajusta el ancho del campo de entrada al 100% del contenedor */
  }
  
  .col-md-12 {
    display: flex;
    flex-direction: column;
  }
  
  .col-form-label {
    align-self: flex-start; /* Alinea la etiqueta de "Email" a la izquierda */
    margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de entrada */
  }
  .input-group {
    width: 100%; 
  }
  
  .col-md-12 {
    display: flex;
    flex-direction: column;
  }
  
  .col-form-label {
    align-self: flex-start; /* Alinea la etiqueta de "Password" a la izquierda */
    margin-bottom: 5px; /* Espacio entre la etiqueta y el campo de contraseña */
  }












