<div class="container">

  <div class="row">
    <div class="col-md-6"> 
       
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="row g-3 align-items-center">

        <div class="row-container">
        <img id="logoimg" src="../../../assets/logo.png">
        <h1 class="row-g2 align-items-right"> FoodDelivery</h1>
        </div>
        <h4>¡Bienvenido de Nuevo!</h4>
        <h6>¡Ingresá y disfrutá de una hamburguesa!</h6> 
        </div>
        <!--email-->
        <div class="row g-3 align-items-center">
        <div class="col-md-12" id="email">
        <label for="inputEmail" class="col-form-label">Email</label>
        <div class="input-group">
        <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="ejemplo@gmail.com">
        <div *if="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
        <span class="form-text text-danger" *if="loginForm.get('email').errors?.required">Email is required</span>
        <span class="form-text text-danger" *if="loginForm.get('email').errors?.email">Invalid email</span>
        </div>
        </div>
        </div>
        </div>
   
        <!--password-->
        <div class="row g-3 align-items-center">
        <div class="col-md-12" id="password">
        <label for="inputPassword" class="col-form-label">Contraseña</label>
        <div class="input-group">
        <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Enter your password">
        <div *if="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
        <span class="form-text text-danger" *if="loginForm.get('password').errors?.required">Password is required</span>
        <span class="form-text text-danger" *if="loginForm.get('password').errors?.minlength">Password must be at least 8 characters</span>
        <span class="form-text text-danger" *if="loginForm.get('password').errors?.maxlength">Password cannot be more than 20 characters</span>
        </div>
        </div>
        <span class="form-text"><!-- Must be 8-20 characters long. --></span>
        </div>
        </div>

        <!--contraseña olvidaste-->
        <div class="row g-3 align-items-center mt-2" >
        <div class="col-auto" style="margin-left: auto;"id="olvidaste">
        <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
        </div>
        <div class="row g-3 mt-2" id="iniciar">
        <div class="col-auto d-flex justify-content-center align-items-center" id="botonInit">
        <button type="submit" class="btn-color btn btn-primary text-center" [disabled]="loginForm.invalid">Iniciar Sesión</button>
        </div>
        </div>

        <!-- google -->
        <div class="col-auto" id="google">
        <button type="button" class="btn btn-primary-light">  
        <svg width="20" height="20" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_268_1479)">
        <path d="M28.227 14.385C28.227 13.4333 28.1498 12.4765 27.9852 11.5402H14.78V16.9314H22.342C22.0282 18.6701 21.0199 20.2083 19.5435 21.1857V24.6837H24.055C26.7043 22.2454 28.227 18.6444 28.227 14.385Z" fill="#4285F4"/>
        <path d="M14.78 28.0635C18.5558 28.0635 21.7401 26.8237 24.0602 24.6837L19.5487 21.1856C18.2935 22.0396 16.673 22.5231 14.7851 22.5231C11.1327 22.5231 8.0359 20.059 6.92475 16.7462H2.26923V20.3523C4.64586 25.0798 9.48657 28.0635 14.78 28.0635Z" fill="#34A853"/>
        <path d="M6.91966 16.7462C6.33322 15.0074 6.33322 13.1246 6.91966 11.3859V7.77979H2.26928C0.283612 11.7357 0.283612 16.3964 2.26928 20.3523L6.91966 16.7462Z" fill="#FBBC04"/>
        <path d="M14.78 5.60377C16.7759 5.57291 18.705 6.32396 20.1505 7.70262L24.1476 3.70555C21.6166 1.32892 18.2575 0.0222897 14.78 0.0634434C9.48657 0.0634434 4.64586 3.04709 2.26923 7.77978L6.9196 11.3859C8.02561 8.06786 11.1276 5.60377 14.78 5.60377Z" fill="#EA4335"/>
        </g>
        <defs>
        <clipPath id="clip0_268_1479">
        <rect width="28" height="28" fill="white" transform="translate(0.5 0.0625)"/>
        </clipPath>
        </defs>
        </svg>   Ingresar con Google</button> </div>
        <!-- facebook -->
        <div class="col-auto">
        <button type="button" class="btn btn-primary-light">
        <svg width="20" height="20" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_268_959)">
        <path d="M28.5 14.0625C28.5 6.33051 22.232 0.0625 14.5 0.0625C6.76801 0.0625 0.5 6.33051 0.5 14.0625C0.5 21.0502 5.61957 26.8421 12.3125 27.8924V18.1094H8.75781V14.0625H12.3125V10.9781C12.3125 7.46937 14.4027 5.53125 17.6005 5.53125C19.1318 5.53125 20.7344 5.80469 20.7344 5.80469V9.25H18.9691C17.23 9.25 16.6875 10.3293 16.6875 11.4375V14.0625H20.5703L19.9496 18.1094H16.6875V27.8924C23.3804 26.8421 28.5 21.0502 28.5 14.0625Z" fill="#1877F2"/>
        <path d="M19.9496 18.1094L20.5703 14.0625H16.6875V11.4375C16.6875 10.3304 17.23 9.25 18.9691 9.25H20.7344V5.80469C20.7344 5.80469 19.1323 5.53125 17.6005 5.53125C14.4027 5.53125 12.3125 7.46938 12.3125 10.9781V14.0625H8.75781V18.1094H12.3125V27.8924C13.762 28.1192 15.238 28.1192 16.6875 27.8924V18.1094H19.9496Z" fill="white"/>
        </g>
        <defs>
        <clipPath id="clip0_268_959">
        <rect width="28" height="28" fill="white" transform="translate(0.5 0.0625)"/>
        </clipPath>
        </defs>
        </svg>
        Ingresar con Facebook</button>
        </div>
        
        <!-- regístrate -->
        <div class="row g-3 align-items-center mt-2" >
        <div class="col-auto"id="registrate">
        <span>¿No estás registrado? <a href="/register">Registrate</a></span>
        </div>
        </div>

      </form>
    </div>
       
    <div class="col-md-6">
      <img src="../../../assets/loginimg.jpg" alt="HamburguesaLogin">
    </div>

  </div>
</div>
