@if (user()) {
  <div class="">
      <div class="mb-3 font-bold text-2xl">
          <p-avatar [style]="{ 'background-color': '#5cb85c', color: '#ffffff' }" [label]="user() && user()?.fullName ? user()?.fullName!.at(0) : 'N'" styleClass="mr-2" size="large" shape="circle"></p-avatar>
          <span class="font-bold">{{ user() && user()?.fullName ? user()?.fullName : "NoName" | titlecase }}</span>
      </div>
    <p-divider></p-divider>
    <div class="grid justify-content-center">
      <section class="col-12 md:col-9">
        <!-- contenido -->
          <span class="text-lg font-semibold">Username: </span>
        <span class="text-lg font-semibold">{{ user()?.alias }}</span>
        <div class="flex flex-column sm:flex-row my-4">
          <p class="font-bold mr-3">
            <p-chip
              label="{{
              user()?.email
            }}"
            ></p-chip>
          </p>
          <p class="font-bold mt-2 sm:mt-0 mr-3">
            <p-chip
              label="{{
              user()?.phone
            }}"
            ></p-chip>
          </p>
            <p class="font-bold mt-2 sm:mt-0">
                <p-chip
                        label="{{
              user()?.role | titlecase
            }}"
                ></p-chip>
            </p>
        </div>

          <div class="addresses my-4">
              <h5 class="capitalize text-2xl mb-2">Direcciones</h5>
              <p-divider></p-divider>
              <div class="addresses__container--scroll">
                  <p-messages
                          [(value)]="messageNotData"
                          [enableService]="false"
                          [closable]="false"
                  ></p-messages>
              </div>
          </div>

          <div class="orders my-4">
              <h5 class="capitalize text-2xl mb-2">Pedidos</h5>
              <p-divider></p-divider>
              <div class="orders__container--scroll">
                  <p-messages
                          [(value)]="messageNotData"
                          [enableService]="false"
                          [closable]="false"
                  ></p-messages>
              </div>
          </div>
      </section>

      <!-- buttons -->
      <section class="col-12 md:col-3">
        <button
          pButton
          pRipple
          label="Editar"
          icon="pi pi-pencil"
          class="block w-full bg-green-500 border-green-500 mb-2"
          [routerLink]="['/admin/dashboard/usuario', this.user()?.id, 'editar']"
          routerLinkActive="router-link-active"
        ></button>

        @if( user()?.role !== 'ADMIN') {
          <button
            pButton
            pRipple
            label="Eliminar"
            icon="pi pi-trash"
            class="block w-full bg-red-500 border-red-500"
            (click)="this.confirmDeleteUser()"
          ></button>
        }
      </section>
    </div>
  </div>
} @else {
  <div class="flex justify-content-center">
    <p class="text-2xl">No se ha encontrado el usuario</p>
  </div>
}
