@if(!authService.isAdminAuthenticated()) {

 <nav class="navbar navbar-expand-lg bg-body-tertiary flex-box">
  <a
    class="navbar-brand"
    routerLink=""
    [ngClass]="{ active: menuOption == 'home' }"
    (click)="onOption('home')"
    ><img src="../../../assets/LogoLogo.png" alt="logo"
  /></a>
  <ul class="navbar-nav navigation">
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="products"
        routerLinkActive="active"
        [ngClass]="{ active: menuOption == 'menu' }"
        (click)="onOption('menu')"
        >Menú</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink=""
        [ngClass]="{ active: menuOption == 'cupones' }"
        (click)="onOption('cupones')"
        >Cupones</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink="profile"
        [ngClass]="{ active: menuOption == 'nosotros' }"
        (click)="onOption('nosotros')"
        >Nosotros</a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        routerLink=""
        [ngClass]="{ active: menuOption == 'contacto' }"
        (click)="onOption('contacto')"
        >Contacto</a
      >
    </li>
  </ul>

  <button class="inicio-sesion" routerLink="login" routerLinkActive="active">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      fill="currentColor"
      class="bi bi-person-fill"
      viewBox="0 0 16 16"
    >
      <path
        d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"
      /></svg
    >Iniciar de sesión
  </button>
</nav>
}

<router-outlet></router-outlet>


@if(!authService.isAdminAuthenticated()) {
<footer class="jumbotron">
    <div class="text-center text-white">
      <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-lg-8 mt-2">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
                distinctio earum repellat quaerat voluptatibus placeat nam,
                commodi optio pariatur est quia magnam eum harum corrupti
                dicta, aliquam sequi voluptate quas.
              </p>
            </div>
          </div>
        <div class="text-center mb-2">
          <a href="" class="text-white me-4">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-google"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="" class="text-white me-4">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </div>
      <div class="text-center p-3 bg-dark">
  FooDelivery
      </div>
    </div>
</footer>
}

<div class="card flex justify-content-center">
  <p-toast key="toast"></p-toast>
</div>
