<div>
        <div class="col-12 w-full">
            <div class="card px-6 py-6">
                <p-toast></p-toast>
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <!-- Pedidos por estatus -->
                        <div class="p-toolbar-group-right">
                            <p-splitButton label="Estatus" icon="pi pi-filter" [model]="items"></p-splitButton>
                        </div>
                    </ng-template>

                    @if(orderService.orders() && orderService.orders().length > 0) {
                        <ng-template pTemplate="right">
                            <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="generateCSV()"></button>
                        </ng-template>
                    }
                </p-toolbar>

                @if(orderService.orders() && orderService.orders().length > 0) {
                <p-table
                    #dt
                    [value]="orderService.orders()"
                    [columns]="cols"
                    responsiveLayout="scroll"
                    [rows]="rows"
                    [totalRecords]="totalRecords"
                    [globalFilterFields]="['user.fullName', 'totalPrice', 'paymentMethod', 'createdAt', 'status']"
                    [paginator]="true"
                    [rowsPerPageOptions]="[10]"
                    [showCurrentPageReport]="true"
                    [(selection)]="selectedOrders"
                    selectionMode="multiple"
                    [rowHover]="true"
                    dataKey="id"
                >

                    <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <h5 class="m-0">Administrar Ordenes</h5>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."  class="w-full sm:w-auto"/>
                            </span>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3rem">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="user.fullName">Cliente <p-sortIcon field="user"></p-sortIcon></th>
                            <th pSortableColumn="totalPrice">Total <p-sortIcon field="totalPrice"></p-sortIcon></th>
                            <th pSortableColumn="paymentMethod">Pago <p-sortIcon field="paymentMethod"></p-sortIcon></th>
                            <th pSortableColumn="createdAt">Pedido el <p-sortIcon field="createdAt"></p-sortIcon></th>
                            <th pSortableColumn="status">Estatus <p-sortIcon field="status"></p-sortIcon></th>
                            <th></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-order>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="order"></p-tableCheckbox>
                            </td>
                            <td style="width:12%; min-width:9rem;">
                                <span class="p-column-title">Cliente</span>
                                {{ order.user.fullName }}
                            </td>
                            <td style="width:10%; min-width:6rem;">
                                <span class="p-column-title">Total</span>
                                {{ order.totalPrice | currency }}
                            </td>
                            <td style="width:10%; min-width:7rem;">
                                <span class="p-column-title">Pago</span>
                                {{ order.paymentMethod | titlecase }}
                            </td>
                            <td style="width:14%; min-width:10rem;">
                                <span class="p-column-title">Pedido el</span>
                                {{ order.createdAt | date: 'dd/MM/yyyy hh:mm' }}
                            </td>
                            <td style="width:12%; min-width:8rem;"><span class="p-column-title">Estatus</span>
                                <span [class]="'product-badge status-' + (order.status ? order.status.toLowerCase() : '')">{{ order.status | titlecase }}</span>
                            </td>
                            <td>
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(order)"></button>
<!--                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(order)"></button>-->
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                } @else {
                    <div class="col-12">
                        <div class="col-12 w-full">
                            <p-messages [(value)]="messageNotData" [enableService]="false" [closable]="false"></p-messages>
                        </div>
                    </div>
                }
            </div>

            <p-dialog [(visible)]="orderDialog" [style]="{width: '550px'}" header="Detalles de la orden" [modal]="true" class="p-fluid">
                <ng-template pTemplate="content">
                  <div class="field">
                    <label for="status">Estatus del pedido</label>
                    <p-dropdown #orderStatus id="status" [(ngModel)]="order.status" inputId="inventoryStatus" optionValue="label" [options]="statuses" placeholder="Cambiar estatus">
                        <ng-template pTemplate="selectedItem">
                            @if(order && order.status) {
                                <span [class]="'product-badge status-' + order.status.toString().toLowerCase()">{{order.status}}</span>
                          }
                      </ng-template>
                      <ng-template let-option pTemplate="item">
                        <span [class]="'product-badge status-' + option.value">{{option.label}}</span>
                      </ng-template>
                    </p-dropdown>
                  </div>

                    <div>
                        <app-table-products-promo [products]="this.products()" />
                    </div>
                </ng-template>

                <ng-template pTemplate="footer">
                    <div class="flex">
                      <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                      <button pButton pRipple label="Actualizar" icon="pi pi-check" class="p-button-text" (click)="updateStatusProduct()"></button>
                    </div>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteOrderDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    @if( order ){
                        <span>Esta seguro de eliminar la orden <b>{{order.id}}</b>?</span>
                    }
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteOrderDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
                </ng-template>
            </p-dialog>

            <p-dialog [(visible)]="deleteOrdersDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
                <div class="flex align-items-center justify-content-center">
                    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                    <span>Esta seguro de eliminar las ordenes seleccionadas?</span>
                </div>
                <ng-template pTemplate="footer">
                    <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteOrdersDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDeleteSelected()"></button>
                </ng-template>
            </p-dialog>
        </div>

</div>
