<div class="container">
    <div class="row">
      <div class="col-md-6" id="colLeft">
        <h1>Contacto</h1>
        <br>
        <h3>Realiza tu consulta</h3>
  
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <form>
                <div class="mb-3">
                  <label for="nombre" class="form-label">Nombre y Apellido</label>
                  <input type="text" class="form-control form-control-sm" id="nombre" placeholder="Ingrese su nombre completo" required>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control form-control-sm" id="email" placeholder="Ingrese su correo electrónico" required>
                </div>
                <div class="mb-3">
                  <label for="mensaje" class="form-label">Mensaje</label>
                  <textarea class="form-control form-control-md" id="mensaje" rows="3" placeholder="Ingrese su mensaje" required></textarea>
                </div>
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="col-md-6">
        Contenido de la segunda columna
      </div>
    </div>
  </div>
  