Users works!

<!--<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">-->
<!--  <h1 class="h2">{{ subtitle() | titlecase }}</h1>-->
<!--  <div class="btn-toolbar mb-2 mb-md-0">-->
<!--    <div class="btn-group me-2">-->
<!--      <button-->
<!--        type="button"-->
<!--        class="btn btn-sm btn-outline-secondary"-->
<!--      >-->
<!--        Agregar-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<div>-->
<!--  @if( userService.loading() ) {-->
<!--      <p> Cargando... </p>-->
<!--      <pre>-->
<!--        {{ userService.users()[1] | json }}-->
<!--      </pre>-->
<!--  } @else if(!userService.loading() && userService.users().length <= 0 ) {-->
<!--      <p> No hay usuarios registrados </p>-->
<!--  } @else {-->
<!--      <users-table-admin-dashboard-->
<!--              [users]="userService.users()"-->
<!--      />-->
<!--  }-->

<!--</div>-->
