
  <div class="container my-5">
    <div class="row">
      <div class="col-md-4">
        <img src="https://source.unsplash.com/1100x800/?burger" class="img-fluid rounded h-100" alt="Burger Image">
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-center mb-4">
              <svg class ="88" height="81" viewBox="0 0 88 81" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.5312 76.0631C17.5312 72.0631 7.19788 52.3964 3.03122 43.0631C-2.43098 32.0631 1.03122 27.563 1.53122 24.063C1.93122 21.263 6.69788 16.2297 9.03122 14.063C11.6979 11.063 20.5312 4.26307 34.5312 1.06307C52.0312 -2.93693 70.5312 8.06307 80.0312 16.5631C87.6312 23.3631 87.5312 33.0631 86.5312 37.0631C84.6979 42.2297 78.6312 55.8631 69.0312 69.0631C57.0312 85.5631 35.5312 81.0631 25.5312 76.0631Z" fill="#FFC107"/>
                <circle cx="43.4902" cy="38.7158" r="32.5" fill="white"/>
                <path d="M21.3012 45.7159L34.3012 56.7159C35.7195 57.916 37.2252 56.2159 37.8008 55.2158L42.3008 49.2158C41.8008 49.3825 42.8008 47.4158 50.8008 38.2158C60.8008 26.7158 61.8008 28.2158 66.8008 25.2158C68.0008 21.2158 64.9674 20.2158 63.3008 20.2158C62.6341 20.5492 60.8008 21.5158 58.8008 22.7158C53.6008 25.9158 45.6341 34.3825 42.3008 38.2158L34.3012 48.2158C33.4677 47.3825 30.6009 44.7159 25.8012 40.7159C20.6012 39.9159 20.6346 43.7159 21.3012 45.7159Z" fill="#FD7E14"/>
              </svg>
            </div>
            <h5 class="card-title text-center mb-4">¡Gracias por tu compra!</h5>
            <p class="card-text text-center mb-2">Tu orden estará siendo procesada, en 30 minutos</p>
            <p class="card-text text-center mb-4">Tendrás tu pedido en tu domicilio.</p>
            <div class="row">

              <div class="col-md-12">
                <div class="d-flex justify-content-end pe-4 fw-bolder fs-5">Precio</div>
              </div>

              <div class="col-md-12">
                <div class="card mb-3 ">
                  <div class="row no-gutters mb-1 shadow " *ngFor="let product of order">
                    <div class="col-md-2">
                      <img [src]="product.product.img" class="card-img img-fluid w-100 h-100" alt="Burger">
                    </div>
                    <div class="col-md-4 col-xl-6">
                      <div class="card-body">
                        <h6 class="card-title">{{product.product.name}}</h6>
                        <p class="fw-light">{{product.product.description}}</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-xl-2">
                      <div class="card-body">
                        <h6 class="card-title text-center">Cantidad</h6>
                        <p class="card-text text-center fw-light">{{product.quantity}}</p>
                      </div>
                    </div>
                    <div class="col-md-3 col-xl-2 m-auto text-orange-400">
                        <p class="card-text text-center text-orange">{{product.product.price}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="card " >
                  <div class="row">
                    <div class="col-md-6 col-xl-8"></div>
                    <div class="col-md-3 col-xl-2">
                      <div class="card-body">
                        <h6 class="card-title text-center fw-bold">Total</h6>
                      </div>
                    </div>
                    <div class="col-md-3 col-xl-2 m-auto text-orange-400">
                      <p class="card-text text-center text-orange">{{totalPrice}}</p>
                    </div>
                  </div>
                </div>
              </div>



            </div>
            <div class="text-right d-flex justify-content-center my-4">
              <button class="btn btn-warning text-white p-2" (click)="goFollowUp()">Ir al Seguimiento</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
