<div class="lotterys__list">
  <section class="p-2">
    <button
      pButton
      pRipple
      class="bg-primary-700"
      [routerLink]="['/admin/dashboard/usuario/agregar']"
    >
      Nuevo usuario
    </button>
    <p-divider></p-divider>
  </section>
  <section class="p-2 grid">
    @for (user of userService.users(); track $index) {
      <article class="col-12 sm:col-6 lg:col-4">
        <user-card [user]="user" isAdmin></user-card>
      </article>
    }@empty {
      <div class="col-12 flex justify-content-center align-items-center">
        <p-messages [(value)]="messageNotData" [enableService]="false" [closable]="false"></p-messages>
      </div>
    }
  </section>


  <div class="card flex justify-content-center">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
  </div>
</div>

